<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.epsl.peritos.peritos">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Peritos"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.LoginActivity"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.MainActivity"
            android:label="Activity Main"
            android:parentActivityName=".activity.LoginActivity" >
        </activity>



        <receiver
            android:name="com.epsl.peritos.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="MY_PACKAGE" />
            </intent-filter>
        </receiver>

        <service android:name="com.epsl.peritos.GCMIntentService" />
    </application>
</manifest>